/* simple reset */
h1, p, button {
  padding: 0;
  margin: 0;
  border: 0;

  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  background: inherit;
}

#map {
  height: 75%;
  width: 75%;
  margin: 20px 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana,Arial,sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #E8EDDF;
  color: #333533;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 12px 0;
}

p {
  margin-bottom: 8px;
  font-size: 18px;
}

.airportInputs {
  display: flex;
  margin-bottom: 8px;
}

#reset {
  padding: 6px 12px;
  font-weight: bold;
  background: #333533;
  border: 3px solid #333533;
  border-radius: 3px;
  color: #E8EDDF;
}

#reset:hover {
  background: #E8EDDF;
  color: #333533;
  cursor: pointer;
}

.ui-widget:last-child {
  margin-left: 20px;
}
